<div class="ui huge images">

    <img class="ui image item slide" src="https://images.unsplash.com/photo-1519575396444-2e78bc5f4afc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" alt="" class="ui image">

    <img class="ui image item slide" src="https://images.unsplash.com/photo-1524017718360-1c269e42276b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=809&q=80" alt="" class="ui image">

    <img class="ui image item slide" src="https://images.unsplash.com/photo-1521755310030-0317ef9a73a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=783&q=80" alt="" class="ui image">

</div>

<div id="next-image" onclick="tester()"></div>
<div id="prev-image" onclick="tester()"></div>
