<div class="ui vertical menu">
    <div class="item" id="zac-top-menu">
        <a href="/"><div class="header" id="zac-title">Zac Gates</div></a>
        <div class="menu">
            <a class="item">Contact</a>
            <a class="item">Gabe is a Legend</a>
        </div>
    </div>

    <div class="item">
        <div class="header" id="zac-projects">Projects</div>
        <div class="menu">
            <a href="/lockdown" class="item">Lockdown</a>
            <a class="item">Project 2</a>
            <a class="item">Project 3</a>
        </div>
    </div>
</div>