body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

#menu-section {
    align-self: center;
}

#photo-section {
    text-align: center;

}



div#next-image, div#prev-image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: block;
}

#next-image {
    right: 0;
    cursor: e-resize;
}

#prev-image {
    left: 0;
    cursor: w-resize;
}

div.ui.segment {
    height: 100%;
}

div.ui.vertical.menu {
    border: none;
    box-shadow: none;
}

div.ui.vertical.menu .item {
    box-shadow: none;
    border: none;
}

div.ui.vertical.menu div.item div.header {
    font-size: 1.2em;
    color: black;
    font-weight: 700;
}

div.ui.huge.images img.ui.image.item.slide {
    display: none;
    animation-name: fadeout;
    animation-duration: 0.8s;
    height: 60%;
    width: 60%;
}

div.ui.huge.images img.ui.image.item.slide.show {
    display: inline-block;
    animation-name: fadein;
    animation-duration: 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#zac-menu {
    margin: auto auto auto 30%;
    text-justify: left;
}

#zac-top-menu {
    margin-bottom: 10%;
}

#zac-title {
    margin-bottom: 2rem;
}

#zac-projects {
    margin-top: 2em;
    margin-bottom: 2em
}

